
/* extra styles for the pricing plan page, although a lot was done in the tailwind css component in the html page*/
body{
    color: #330044;
}
img {
    width: 500px;
    display: block;
    margin: auto;
}
.plan {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.plan:hover {
    border-color: #9370DB;
}

.plan.selected {
    border-color: #9370DB;
    background-color: #CBC3E3;
}

.hidden-radio {
    display: none;
}

.footer{
    background-color: #3b0a57; 
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 1000;
    padding-bottom: 70px;
}