
/*styling for both the privacy and cookie policy pages*/

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
    
}

.container_main {
    text-align: center;
    max-width: 900px; 
    padding: 20px;
    width: 90%;
    margin: auto;
}

header h1 {
    font-size: 2.5rem;
    color: #330044;
    margin-bottom: 10px;
}

.span1{
    color: black;
}
.span2{
    color: #9370DB;
}
.span3{
    color: red;
}

header p {
    font-size: 1rem;
    color:  #222222;
}

section {
    margin-bottom: 20px;
    
}

section h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

section h3 {
    font-size: 1rem;
}

.list-container{
    text-align: left;
}

section p, section ul {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

section ul {
    padding-left: 20px;
}

section ul li {
    margin-bottom: 10px;
}

a {
    color: #330044;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}